Package: jp.r-plus.batterytrace
Name: BatteryTrace
Depends: mobilesubstrate, firmware (>= 7.0.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Battery logger to ~mobile/battery.txt
Maintainer: r_plus
Author: r_plus
Section: Tweaks
